<div class="container">
  <form [formGroup]="filterForm">
    <div fxLayout="row" fxLayoutGap="2%" fxLayout.lt-md="column">
      <mat-form-field>
        <mat-label>From Date</mat-label>
        <input matInput [matDatepicker]="fromDatePicker" formControlName="fromDate">
        <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #fromDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>To Date</mat-label>
        <input matInput [matDatepicker]="toDatePicker" formControlName="toDate">
        <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #toDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Office</mat-label>
        <mat-select formControlName="office">
          <mat-option *ngFor="let office of offices" [value]="office.id">
            {{ office.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="resetFilters()">Reset Filters</button>
    </div>
  </form>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="isLoading" class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table *ngIf="!isLoading" [dataSource]="dataSource" matSort>
    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.date }}</mat-cell>
    </ng-container>

    <!-- Debit Account Column -->
    <ng-container matColumnDef="debitAccount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Debit Account</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.debitAccount }}</mat-cell>
    </ng-container>

    <!-- Credit Account Column -->
    <ng-container matColumnDef="creditAccount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Credit Account</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.creditAccount }}</mat-cell>
    </ng-container>

    <!-- Debit USD Column -->
    <ng-container matColumnDef="debitUSD">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Debit USD</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.debitUSD | currency:'USD' }}</mat-cell>
    </ng-container>

    <!-- Credit USD Column -->
    <ng-container matColumnDef="creditUSD">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Credit USD</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.creditUSD | currency:'USD' }}</mat-cell>
    </ng-container>

    <!-- Conversion Rate Column -->
    <ng-container matColumnDef="conversionRate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Conversion Rate</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.conversionRate }}</mat-cell>
    </ng-container>

    <!-- Debit UGX Column -->
    <ng-container matColumnDef="debitUGX">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Debit UGX</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.debitUGX | currency:'UGX' }}</mat-cell>
    </ng-container>

    <!-- Credit UGX Column -->
    <ng-container matColumnDef="creditUGX">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Credit UGX</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.creditUGX | currency:'UGX' }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  <div class="export-buttons">
    <button mat-raised-button color="accent" (click)="exportToCSV()">Export to CSV</button>
    <button mat-raised-button color="warn" (click)="printReport()">Print Report</button>
  </div>
</div>
